@import url("https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Fira+Sans:wght@200;400&family=Grenze+Gotisch&family=Roboto&family=Satisfy&family=Smooch&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap");
:root {
  --body-font: "Grenze Gotisch", sans-serif;
  --primary: #3dcfd3;
  --secondary: #070606;
  --yellow: #ffc107;
  --dark: #000000;
  --pure: #ffffff;
  --orange: #f26522;
  --red: #dc3545;
  --cyan: #17a2b8;
  --ternary: #898989;
  --light: #f2f2f2;
  --green: #28a745;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* ******** Styling of Buttons Start From Here ******** */

button {
  background-color: var(--orange);
  font-size: 1.1rem;
  margin: 1.5rem 0 0 5rem;
  border-color: var(--orange);
  width: 6rem;
  height: 3rem;
}
button:hover {
  background-color: var(--secondary);
  color: var(--pure);
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-center button {
  margin: 2rem 0 1rem 0;
  width: 10rem;
}
.text-center button:hover {
  background: transparent;
}

/* ******** Styling of Navigation Bar Start From Here ******** */

.navbar {
  position: relative;
  margin-left: 20rem;
}
.logo img {
  position: relative;
  margin-left: 3rem;
}
.navbar ul {
  margin-top: 2rem;
  text-align: center;
}
.navbar ul li {
  flex-direction: row;
  display: inline;
}
.navbar ul li a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--pure);
  margin-left: 2.5rem;
  text-transform: uppercase;
}
.navbar ul li a:hover {
  color: var(--orange);
  text-decoration: underline;
}

/* ******** Styling of Header Section Start From Here ******** */

header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 87%);
}
.header::before {
  content: "";
  background-image: url(./valery-sysoev-LDAirERNzew-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.hero {
  color: white;
  position: relative;
  padding: 3rem;
}
.header-text {
  font-family: "Courgette", cursive;
  text-align: center;
  font-size: 2rem;
}
.header-text span {
  font-family: "Anton", sans-serif;
  display: block;
  font-size: 3rem;
  letter-spacing: 0.28rem;
  color: var(--orange);
}
.header-content {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.header-slogen{
  text-align: center;
  margin-top: 10rem;
}
.header-slogen button {
  font-family: "Fira Sans", sans-serif;
  background-color: transparent;
  border-color: var(--orange);
  color: var(--pure);
  width: 19rem;
  height: 3rem;
  margin: 0;
  font-size: 1.5rem;
}

.left-side {
  display: flex;
}
.contentimg img {
  width: 100%;
}

/* ******** Styling of Motivation Section Start From Here ******** */

.m-container {
  height: 100vh;
  width: 100%;
}
.m-container p {
  text-align: center;
  color: var(--dark);
  font-size: 1.5rem;
}
.m-container h1 span {
  color: var(--orange);
}
.m-container h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}
.m-Div {
  width: 50%;
  height: 30rem;
  background-image: url(./Quotes_imgs/1.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 85%);
  animation: slider 70s infinite linear;
  box-shadow: 1px 2px 10px 5px var(--dark);
}
@keyframes slider {
  0% {
    background-image: url(./Quotes_imgs/1.jpg);
  }
  10% {
    background-image: url(./Quotes_imgs/2.jpg);
  }
  20% {
    background-image: url(./Quotes_imgs/3.jpg);
  }
  30% {
    background-image: url(./Quotes_imgs/4.jpg);
  }
  40% {
    background-image: url(./Quotes_imgs/5.jpg);
  }
  50% {
    background-image: url(./Quotes_imgs/6.jpg);
  }
  60% {
    background-image: url(./Quotes_imgs/7.jpg);
  }
  70% {
    background-image: url(./Quotes_imgs/8.jpg);
  }
  80% {
    background-image: url(./Quotes_imgs/9.jpg);
  }
  90% {
    background-image: url(./Quotes_imgs/10.jpg);
  }
}

/* ******** Styling of Training Program Section Start From Here ******** */

section.training {
  background-image: url(./Program_imgs/training_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
section.training .trainingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 0 3rem;
}

section.training .trainingContainer .card {
  background: var(--pure);
}

section.training .trainingContainer .card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.training .trainingContainer .card .card-content {
  padding: 1rem 2rem;
}

section.training .trainingContainer .card .card-content h1 {
  font-size: 1rem;
  font-weight: 600;
}

section.training .trainingContainer .card .card-content a {
  text-decoration: none;
  color: var(--secondary);
}

section.training .trainingContainer .card .card-content a:hover {
  color: var(--orange);
}

section.training .trainingContainer .card .card-content span {
  color: var(--ternary);
  font-size: 0.8rem;
}

section.training .trainingContainer .card .card-content p {
  color: var(--ternary);
  margin: 1rem 0;
}

section.blogs .blogContainer .card .card-content a.read-more {
  font-size: 0.2rem;
}

.Container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.Container h2 span {
  color: var(--orange);
}

/* ******** Styling of Review Section Start From Here ******** */


section.reviews{
  background-image: url(./Reviewer_imgs/review_bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-text{
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  color: var(--pure);
  padding: 4rem 0 1rem 0;
  letter-spacing: 0.2rem;
}
.review-main{
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.28rem;
  color: var(--orange);
}
.reviewContainer{
  padding: 2rem 20rem;
}
.about-reviewer{
  margin-top: 2rem;
  color: var(--pure);
  display: flex;
  align-items: center;
}
.about-reviewer img{
  border-radius: 50%;
  height: 3.5rem;
}
.about-reviewer p{
  margin-left: 1.5rem;
}
.row2{
  margin-left: 25rem;
}
.row-upper{
  color: var(--pure);
  border-left: 4px solid var(--pure);
}
.row-upper h2, p{
  font-family: "Fira Sans", sans-serif;
  margin-left: 1rem;
  margin-top: 1rem;
}
.reviewContainer {
 padding-bottom: 15rem;
}

/* ******** Styling of Resister Section Start From Here ******** */

.r-container{
  height: 50rem;
}
.join-text{
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  padding: 2.5rem 0 1rem 0;
  letter-spacing: 0.2rem;
}
.resisterContainer{
  background-color: var(--light);
  width: 32rem;
  padding: 1.5rem;
  margin: 2rem auto 0;
  border-top: 5px solid var(--orange);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.input-name{
  width: 95%;
  position: relative;
  margin: 1rem auto;
}
.input-name i{
  color: var(--orange);
}
.fa-user{
  padding: 0.5rem 0.7rem;
}
.fa-envelope{
  padding: 0.5rem 0.7rem;
}
.fa-calendar{
  padding: 0.5rem 0.7rem;
}
.name{
  padding: 0.5rem 0 0.5rem 2.5rem;
  width: 80%;
}
.email{
  width: 80%;
  padding: 0.5rem 0 0.5rem 2.5rem;
}
.age{
  width: 80%;
  padding: 0.5rem 0 0.5rem 2.5rem;
}
.message{
  width: 80%;
  padding: 0.5rem 0 0.5rem 2.5rem;
}

/* ******** Styling of Footer Start From Here ******** */

.footer {
  padding-top: 1rem;
  height: 10rem;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 0.1rem;
}
.footer a span {
  color: var(--primary);
}
.footer a span:hover {
  text-decoration: underline;
}

.footer .content .leftSpan {
  font-size: 0.6rem;
  margin-right: 17rem;
}

.footer .content .rightSpan {
  font-size: 0.6rem;
  margin-left: 17rem;
}

/* ******** Code For Responsive Website Start From Here ******** */

@media (max-width: 870px) {
  .left-side button {
    opacity: 0;
  }
  .navbar {
    margin-left: 2rem;
  }
  section.training .trainingContainer {
    display: block;
  }
}
@media (max-width: 670px) {
  .m-Div {
    transform: translate(-50%, 95%);
  }
  section.training .trainingContainer .card {
    margin-bottom: 2rem;
  }
  .row2{
    margin: 0;
  }
  .reviewContainer{
    width: 25rem;
    padding: 2rem 3rem;
  }
  .resisterContainer{
    width: 75%;
  }
}
